.grid-container{
    background-color: #78244C;
    background-size: auto;
    overflow: hidden;
    height: 70vh;
    display: grid;
    grid-template-columns: 30% 65%;
    grid-template-rows: 8% 90%;
    justify-items: center;
    grid-template-areas: 
    "image navbar"
    "image text";
    
    align-items: center;
}


.topnav{
    display: inline;
    margin-left: 65%;
}

.nav-elem a{
    
    display: inline;
    color: whitesmoke;
    margin-left: 10px;
}


.grid-item-1{
    grid-area: navbar;
    color: whitesmoke;
    display: inline;
    
    
}

.row{
    display: inline;
}

.grid-item-2{
    grid-area: image;
    
}

.grid-item-3{
    grid-area: text;
}

.grid-item-3 h4{
    color: whitesmoke;
}

.welcome{
    word-wrap: break-word;
    font-size: 3vw;
}



h2{
    color: whitesmoke;
}

.div_class{
    position: relative;
}

.bg_image{ 
    
    max-width: 100%;
    max-height: 70%;
    object-fit: contain;
}

.fg_image{
    position: absolute;
    border-radius: 50%;
    top: 180px;
    left: 500px;
    justify-content: center;
    height: 50%;
    width: 30%;
    border: 10px solid black ;
}

body{
    margin : 0;
}

.col-sm-4{
    font-size: larger;
}

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    position: fixed;
    text-align: center;
}

.footer a, h4{
    color: #78244C;
    margin-left: 15px;
}

.footer #mainpage{
    margin-right: 25%;
}
